@inject NavigationManager NavigationManager

@inject IViewVendorsUseCase ViewVendorsUseCase
@inject IDeleteVendorUseCase DeleteVendorUseCase
@inject IGetVendorByIdUseCase GetVendorByIdUseCase

@inject IViewOrderVendorsUseCase ViewOrderVendorsUseCase
@inject IDeleteOrderVendorUseCase DeleteOrderVendorUseCase

@inject IViewItemOrdersUseCase ViewItemOrdersUseCase
@inject IDeleteItemOrderUseCase DeleteItemOrderUseCase
@inject IGetItemOrderByIdUseCase GetItemOrderByIdUseCase
@inject IEditItemOrderUseCase EditItemOrderUseCase
@inject IGetItemOrdersByOrderVendorIdUseCase GetItemOrdersByOrderVendorIdUseCase
@inject IGetItemOrdersByOrderVendorIdUseCase GetItemOrdersByOrderVendorIdUseCase

@inject IGetProductByIdUseCase GetProductByIdUseCase

@inject IGetOrderVendorByIdUseCase GetOrderVendorByIdUseCase 

@using WebApp.Components

<div class=" optix-widget optix-font">
<div class="row optix-row-1 optix-page-content">
    <div class="col col-auto m-2 p-4 bg-light border widget-column-border">
        <div>
            <h4 class="mx-auto">
                <NavLink class="nav-link optix-widget-title" href="vendors" style="float:left;">
                    Поставщики (@vendors.Count())
                </NavLink>     
            </h4>
            <br/>
            @if (vendors != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover table-sm align-middle table-responsive">
                        <thead>
                            <tr class="text-align-center">
                                <th class="align-middle">№</th>
                                <th class="align-middle">Компания</th>
                                <th>                
                                    <ButtonAddComponent TypeName="Vendor"></ButtonAddComponent>
                                    <button tupe="button" class="btn btn-link"></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var vendor in vendors)
                            {
                                <tr  @onclick="@(() => ClickVendor(vendor.VendorId))" class="align-middle" style="cursor:pointer">
                                    <td class="align-middle">@vendor.VendorId</td>
                                    <td class="align-middle">@vendor.Company</td>
                                    <td>
                                        <button type="button" @onclick="@(() => ClickVendor(vendor.VendorId))" class="btn btn-link">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <ButtonEditComponent TypeName="vendor" Id="@vendor.VendorId.ToString()"></ButtonEditComponent>
                                        <button type="button" @onclick="@(() => DeleteVendor(vendor.VendorId))" class="btn btn-link">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                                if (i >= CountItemOnPage) break;
                            }
                        </tbody>
                </table>
            </div>
            }
        </div>
    </div>
    <div class="col col-auto m-2 p-4 bg-light border widget-column-border">
        <div>
            <h4 class="mx-auto">
                <NavLink class="nav-link optix-widget-title" href="ordervendors" style="float:left;">
                    Заказы для поставщиков  (@orderVendors.Count())
                </NavLink>         
            </h4>
            <br/>
            @if (orderVendors != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover table-sm align-middle table-responsive">
                        <thead>
                            <tr class="text-align-center">
                                <th class="align-middle">№</th>
                                <th class="align-middle">
                                    Поставщик
                                    <br/>
                                    Дата
                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="Поставщик. Дата и время редактирования"></i>
                                </th>
                                <th class="align-middle">
                                    Позиций 
                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="Количество позиций"></i>
                                </th>
                                <th class="align-middle" title="Количество товаров">
                                    Товаров
                                    <i class="fas fa-info-circle" data-toggle="tooltip" title="Количество товаров"></i>
                                </th>
                                <th>
                                    <ButtonAddComponent TypeName="OrderVendor"></ButtonAddComponent>
                                    <button tupe="button"  @onclick="(() => LoadOrderVendors())" class="btn btn-link">
                                        <i class="fas fa-sync-alt" ></i>
                                    </button> 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0;}
                            @foreach (var orderVendor in orderVendors)
                            {
                                <tr @onclick="@(() => ClickOrderVendor(orderVendor.OrderVendorId))" class="cursor-pointer text-align-center">
                                    <td>@orderVendor.OrderVendorId</td>
                                    <td>
                                        @GetVendorByIdUseCase.Execute(orderVendor.OrderVendorId).Company
                                        <br/>
                                        @orderVendor.Edited.ToString("dd.MM.yyyy")
                                        <br/>
                                        @orderVendor.Edited.ToString("HH:mm:ss")
                                    </td>
                                    <td>@GetItemOrdersByOrderVendorIdUseCase.Execute(orderVendor.OrderVendorId).Count()</td>
                                    <td>@GetItemOrdersByOrderVendorIdUseCase.Execute(orderVendor.OrderVendorId).Sum(n => n.Quantity)</td>
                                    <td>
                                        <button tupe="button" @onclick="@(() => ClickOrderVendor(orderVendor.OrderVendorId))" class="btn btn-link">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <ButtonEditComponent TypeName="orderVendor" Id="@orderVendor.OrderVendorId"></ButtonEditComponent>
                                        <button type="button" @onclick="@(() => DeleteOrderVendor(orderVendor.OrderVendorId))" class="btn btn-link">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                i++;
                                if (i >= CountItemOnPage) break;
                            }
                        </tbody>
                </table>
            </div>
            <ButtonLoadMoreComponent Text="Загрузить больше" OnClickCallback="(() => LoadMoreOrderVendors())" CountItem=@CountOrderVendorsOnPage FullCount=@orderVendors.Count()></ButtonLoadMoreComponent>
            }
        </div>
    </div>
    <div class="col col-auto m-2 p-4 bg-light border widget-column-border">
        <TitleWidgetWithCountComponent Text="Товары в заказах" Href="itemorders" 
            CountItem=@CountItemOrdersOnPage FullCount=@itemOrders.Count()>
        </TitleWidgetWithCountComponent>

        <div class="widget-content">
            @if (itemOrders != null)
            {
                <div class="table-responsive">
                    <table class="table table-hover table-sm align-middle table-responsive">
                        <thead>
                            <tr class="text-align-center">
                                <th class="align-middle">Id</th>
                                <th class="align-middle">Товар</th>
                                <th class="align-middle">Кол-во</th>
                                <th class="align-middle">Цена</th>
                                <th class="align-middle">№ заказа<br/>поставщика</th>
                                <th>
                                    <ButtonAddComponent TypeName="ItemOrder"></ButtonAddComponent>
                                    <button tupe="button"  @onclick="(() => LoadItemOrders())" class="btn btn-link">
                                        <i class="fas fa-sync-alt" ></i>
                                    </button> 
                                    <button tupe="button" class="btn btn-link"></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i =0;}
                            @foreach (var itemOrder in itemOrders)
                            {
                                 if (itemOrder.OrderVendorId > 0)
                                 {
                                     <tr  @onclick="@(() => ClickItemOrder(itemOrder.ItemOrderId))"  class="cursor-pointer text-align-center">
                                         <td>@itemOrder.ItemOrderId</td>
                                         <td>@GetProductByIdUseCase.Execute(itemOrder.ProductId).Name</td>
                                         <td>@itemOrder.Quantity</td>
                                         <td>@itemOrder.Price</td>
                                         <td>@GetOrderVendorByIdUseCase.Execute(itemOrder.OrderVendorId).OrderVendorId</td>
                                         <td>
                                             <ButtonEditComponent TypeName="vendor" Id="@itemOrder.ItemOrderId.ToString()"></ButtonEditComponent>
                                             <button type="button" @onclick="@(() => DeleteItemOrder(itemOrder.ItemOrderId))" class="btn btn-link">
                                                 <i class="far fa-trash-alt"></i>
                                             </button>
                                         </td>
                                     </tr>
                                     i++;
                                     if (i >= CountItemOnPage) break;
                                 }
                             }
                        </tbody>
                </table>
            </div>
            <ButtonLoadMoreComponent Text="Загрузить больше" OnClickCallback="(() => LoadMoreItemOrders())" CountItem=@CountItemOrdersOnPage FullCount=@itemOrders.Count()></ButtonLoadMoreComponent>
            <hr/>
            }
        </div>
    </div>
</div> 
</div>

@code {
    //private int countItemOnPage;

    [Parameter]     public int CountItemOnPage {  get; set; }
    /*        get => countItemOnPage;
    set
    {
    countItemOnPage = value;
        }
    }
    */

    [Parameter]     public EventCallback OnUpdateCallback { get; set; }

    public Task UpdateComponent() => OnUpdateCallback.InvokeAsync(null);

    private int CountVendorsOnPage { get; set; }
    private int CountOrderVendorsOnPage { get; set; }
    private int CountItemOrdersOnPage { get; set; }

    private int LastClickOnVendorId { get; set; }
    private int LastClickOnOrderVendorId { get; set; }
    private int LastClickOnItemOrderId { get; set; }


    record MiniItemOrder
    {
        #region public field
        public List<int> selectedItemOrderIds { get; set; } = new List<int>();  
        public int OrderVendorId { get; set; }
        #endregion

        public MiniItemOrder(int orderVendorId = 1 ) => OrderVendorId = orderVendorId;
    }

    #region private fields
    private List<CoreBusiness.Vendor> vendors;
    private List<CoreBusiness.OrderVendor> orderVendors;
    private List<CoreBusiness.ItemOrder> itemOrders;
    private MiniItemOrder miniItemOrder = new MiniItemOrder();
    #endregion

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (CountItemOnPage > 0) CountItemOnPage = 3;
        LoadVendors();
    }

    #region Vendor

    private void LoadVendors(){
        vendors = ViewVendorsUseCase.Execute()?.ToList();
        LoadOrderVendors();
    }

    protected void DeleteVendor(int VendorId)
    {
        DeleteVendorUseCase?.Delete(VendorId);
        LoadVendors();
    }

    protected void ClickVendor(int vendorId)
        => orderVendors = ViewOrderVendorsUseCase.Execute()?.Where(x=> x.VendorId == vendorId).ToList();
    #endregion 

    #region OrderVendor

    private void LoadOrderVendors()
    {
        if (LastClickOnOrderVendorId > 0)
            orderVendors = ViewOrderVendorsUseCase.Execute().Where(x => x.VendorId == LastClickOnVendorId)?.ToList();
        else
            orderVendors = ViewOrderVendorsUseCase.Execute()?.ToList();

        LoadItemOrders();
    }

    private void LoadAllOrderVendors()
    {
        LastClickOnOrderVendorId = 0;
        LoadOrderVendors();
    }

    private void LoadMoreOrderVendors(){
        CountOrderVendorsOnPage += 10;
        LoadOrderVendors();
    }


    protected void DeleteOrderVendor(int OrderVendorId)
    {
        DeleteOrderVendorUseCase?.Delete(OrderVendorId);
        LoadOrderVendors();
    }

    protected void ClickOrderVendor(int orderVendorId)
    {
        LastClickOnOrderVendorId = orderVendorId;
        LoadItemOrders();
    }
    #endregion 

    #region ItemOrder
    private void LoadItemOrders()
    {
        if (LastClickOnOrderVendorId > 0)
            itemOrders = ViewItemOrdersUseCase.Execute()?.Where(x => x.OrderVendorId == LastClickOnOrderVendorId).ToList();
        else
            itemOrders = ViewItemOrdersUseCase.Execute()?.ToList();
    }

    private void LoadAllItemOrders()
    {
        LastClickOnOrderVendorId = 0;
        LoadItemOrders();
    }

    private void LoadMoreItemOrders(){
        CountItemOrdersOnPage += 10;
        LoadItemOrders();
    }

    protected void DeleteItemOrder(int ItemOrderId)
    {
        DeleteItemOrderUseCase?.Delete(ItemOrderId);
        miniItemOrder.selectedItemOrderIds.Remove(ItemOrderId);
        LoadItemOrders();        
    }

    private IEnumerable<string> GetSelectedItemOrdersAsCollection()
    {
        var collection = new List<string>();
        var collectionForRemove = new List<int>();

        foreach (var itemOrderId in miniItemOrder.selectedItemOrderIds)
        {
            if (GetItemOrderByIdUseCase.Execute(itemOrderId) != null)
            {
                collection.Add($"{itemOrderId}: {GetProductByIdUseCase.Execute(GetItemOrderByIdUseCase.Execute(itemOrderId).ProductId).Name}");
            } else {
                collectionForRemove.Add(itemOrderId);
            }
        }
        foreach (var item in collectionForRemove)
        {
            miniItemOrder.selectedItemOrderIds.Remove(item);
        }
        return collection;
        //string.Join(",", miniItemOrder.selectedItemOrderIds); 
    }

    protected void ClickItemOrder(int itemOrderId)
    {
        if (miniItemOrder.selectedItemOrderIds.IndexOf(itemOrderId) == -1) // .Exists(x => x. == itemOrderId))
            miniItemOrder.selectedItemOrderIds.Add(itemOrderId);
        else
            miniItemOrder.selectedItemOrderIds.Remove(itemOrderId);
    }

    protected void OnClickSendItemOrderInOrderVendor()
    {
        if (GetOrderVendorByIdUseCase.Execute(miniItemOrder.OrderVendorId) != null)
        {
            foreach (int id in miniItemOrder.selectedItemOrderIds)
            {
                ItemOrder itemOrder = GetItemOrderByIdUseCase.Execute(id);
                itemOrder.OrderVendorId = miniItemOrder.OrderVendorId;
                EditItemOrderUseCase.Execute(itemOrder);
            }
            miniItemOrder.selectedItemOrderIds.Clear();
        }
    }

    #endregion 
}
