@page "/add-order-customer"
@layout MainLayout
@inherits WebOptixSuccess.Pages.AddOrderCustomerComponent

@using Radzen
@using Radzen.Blazor
@using CoreBusiness.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddOrderCustomer> L
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(ordercustomer)" Visible="@(ordercustomer != null)" TItem="OrderCustomer" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="@L["label1.Text"]" Component="CustomerId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="customerId" style="display: block; width: 100%" Name="CustomerId" TItem="int?">
                </RadzenNumeric>
                <RadzenRequiredValidator @ref="customerIdRequiredValidator" Component="CustomerId" Text="@L["CustomerIdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="@L["label2.Text"]" Component="ExcelFileId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="excelFileId" style="display: block; width: 100%" Name="ExcelFileId" TItem="int?">
                </RadzenNumeric>
                <RadzenRequiredValidator @ref="excelFileIdRequiredValidator" Component="ExcelFileId" Text="@L["ExcelFileIdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="@L["label3.Text"]" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="name" style="width: 100%" Name="Name">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="@L["label4.Text"]" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="description" style="width: 100%" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Text="@L["label5.Text"]" Component="Edited" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="edited" DateFormat="dd/MM/yyyy" style="display: block; width: 100%" Value="DateTime.Now" Name="Edited">
                </RadzenDatePicker>
                <RadzenRequiredValidator @ref="editedRequiredValidator" Component="Edited" Text="@L["EditedRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="ButtonType.Submit" Icon="save" Text="@L["button1.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="ButtonStyle.Light" Text="@L["button2.Text"]" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
