@page "/ordercustomers"

@inject NavigationManager NavigationManager
@inject IViewOrderCustomersUseCase ViewOrderCustomersUseCase
@inject IDeleteOrderCustomerUseCase DeleteOrderCustomerUseCase
@inject IGetCustomerByIdUseCase GetCustomerByIdUseCase 
@inject IGetExcelFileByIdUseCase GetExcelFileByIdUseCase 

<h3>Manage OrderCustomer</h3>

@if(orderCustomers != null)
{
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>CustomerId</th>
                    <th>File</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var orderCustomer in orderCustomers)
                {
                    <tr>
                        <td>@orderCustomer.Name</td>
                        <td>@orderCustomer.Description</td>
                        <td>@GetCustomerByIdUseCase.Execute(orderCustomer.CustomerId)?.Name</td>
                        <td>
                            <a href="@GetExcelFileByIdUseCase.Execute(orderCustomer.ExcelFileId).FullPath">
                                @GetExcelFileByIdUseCase.Execute(orderCustomer.ExcelFileId).Name
                            </a>
                        </td>
                        <td>
                            <button tupe="button" @onclick="@(() => EditOrderCustomer(orderCustomer))" class="btn btn-light">Edit</button>
                            <button tupe="button" @onclick="@(() => DeleteOrderCustomer(orderCustomer.OrderCustomerId))" class="btn btn-light">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
        <button type="button" @onclick="OnClickAddOrderCustomer" class="btn btn-primary">Add OrderCustomers</button>
}

@code {
    private List<OrderCustomer> orderCustomers;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        orderCustomers = ViewOrderCustomersUseCase.Execute()?.ToList();
    }

    protected void OnClickAddOrderCustomer()
    {
        NavigationManager.NavigateTo("/addordercustomer");
    }

    protected void EditOrderCustomer(OrderCustomer orderCustomer)
    {
        NavigationManager.NavigateTo($"/editordercustomer/{orderCustomer.OrderCustomerId}");
    }

    protected void DeleteOrderCustomer(int OrderCustomerId)
    {
        DeleteOrderCustomerUseCase?.Delete(OrderCustomerId);
        LoadOrderCustomers();
    }

    private void LoadOrderCustomers()
    {
        orderCustomers = ViewOrderCustomersUseCase.Execute()?.ToList();
    }
}
