@page "/ordercustomers"

@inject NavigationManager NavigationManager
@inject IViewOrderCustomersUseCase ViewOrderCustomersUseCase
@inject IDeleteOrderCustomerUseCase DeleteOrderCustomerUseCase
@inject IGetCustomerByIdUseCase GetCustomerByIdUseCase 
@inject IGetExcelFileByIdUseCase GetExcelFileByIdUseCase 
@inject IViewItemOrdersUseCase ViewItemOrdersUseCase

<h3>Заказы от клиентов</h3>

@if(orderCustomers != null)
{
        <table class="table table-sm align-middle">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Клиент</th>
                    <th>Дата редактирования</th>
                    <th>Количество позиций</th>
                    <th>Количество товаров</th>
                    <th>Файл</th>
                    <th>Описание</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var orderCustomer in orderCustomers)
                {
                    <tr>
                        <td>@orderCustomer.OrderCustomerId</td>
                        <td>@GetCustomerByIdUseCase.Execute(orderCustomer.OrderCustomerId).Company</td>
                        <td>@orderCustomer.Edited</td>
                        <td>
                            @ViewItemOrdersUseCase.Execute().Where(x => x.OrderCustomerId == orderCustomer.OrderCustomerId).Count()
                        </td>
                        <td>
                            @ViewItemOrdersUseCase.Execute().Where(x => x.OrderCustomerId == orderCustomer.OrderCustomerId).Sum(x => x.Quantity)
                        </td>
                        <td>
                            <a href="@GetExcelFileByIdUseCase.Execute(orderCustomer.ExcelFileId).FullPath">
                                @GetExcelFileByIdUseCase.Execute(orderCustomer.ExcelFileId).Name
                            </a>
                        </td>
                        <td>@orderCustomer.Description</td>

                        <td>
                            <button tupe="button" @onclick="@(() => EditOrderCustomer(orderCustomer))" class="btn btn-light">Редактировать</button>
                            <button tupe="button" @onclick="@(() => DeleteOrderCustomer(orderCustomer.OrderCustomerId))" class="btn btn-light">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
        <button type="button" @onclick="OnClickAddOrderCustomer" class="btn btn-primary">Добавить заказ</button>
}

@code {
    private List<OrderCustomer> orderCustomers;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        orderCustomers = ViewOrderCustomersUseCase.Execute()?.ToList();
    }

    protected void OnClickAddOrderCustomer()
    {
        NavigationManager.NavigateTo("/addordercustomer");
    }

    protected void EditOrderCustomer(OrderCustomer orderCustomer)
    {
        NavigationManager.NavigateTo($"/editordercustomer/{orderCustomer.OrderCustomerId}");
    }

    protected void DeleteOrderCustomer(int OrderCustomerId)
    {
        DeleteOrderCustomerUseCase?.Delete(OrderCustomerId);
        LoadOrderCustomers();
    }

    private void LoadOrderCustomers()
    {
        orderCustomers = ViewOrderCustomersUseCase.Execute()?.ToList();
    }
}
