@page "/edit-order-vendor"
@layout MainLayout
@inherits WebOptixSuccess.Pages.EditOrderVendorComponent

@using Radzen
@using Radzen.Blazor
@using CoreBusiness.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<EditOrderVendor> L
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div style="" class="row">
      <div class="col-md-9">
        <RadzenLabel @ref="closeLabel" style="font-weight: bold" Text="@L["closeLabel.Text"]" Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton @ref="closeButton" ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="@L["closeButton.Text"]" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" TItem="OrderVendor" Data="@(ordervendor)" Visible="@(ordervendor != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="@L["label2.Text"]" Component="VendorId" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="vendorId" style="display: block; width: 100%" Value="@(ordervendor.VendorId)" Name="VendorId" TItem="int?">
                </RadzenNumeric>
                <RadzenRequiredValidator @ref="vendorIdRequiredValidator" Component="VendorId" Text="@L["VendorIdRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label3" Text="@L["label3.Text"]" Component="Name" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="name" style="width: 100%" Value="@(ordervendor.Name)" Name="Name">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label4" Text="@L["label4.Text"]" Component="Description" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="description" style="width: 100%" Value="@(ordervendor.Description)" Name="Description">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label5" Text="@L["label5.Text"]" Component="Edited" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker @ref="edited" DateFormat="dd/MM/yyyy" style="display: block; width: 100%" Value="@(ordervendor.Edited)" Name="Edited">
                </RadzenDatePicker>
                <RadzenRequiredValidator @ref="editedRequiredValidator" Component="Edited" Text="@L["EditedRequiredValidator.Text"]" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button2" ButtonType="ButtonType.Submit" Icon="save" Text="@L["button2.Text"]" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton @ref="button3" ButtonStyle="ButtonStyle.Light" Text="@L["button3.Text"]" Click="@Button3Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
