@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsUseCase ViewProductsUseCase
@inject IDeleteProductUseCase DeleteProductUseCase
@inject IGetCategoryByIdUseCase GetCategoryByIdUseCase

<h3>Manage Products</h3>

@if(products != null)
{
    <div class="table-responsive">
        <table class="table table-hover table-sm align-middle table-responsive" id="myTable">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Товар</th>
                    <th>Описание</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var product in products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@GetCategoryByIdUseCase.Execute((int)product.CategoryId)?.Name</td>
                        <td>@(Math.Round((double)product.Price, 2))</td>
                        <td>@product.Quantity</td>
                        <td>
                            <button tupe="button" @onclick="@(() => EditProduct(product))" class="btn btn-light">Редактировать</button>
                            <button tupe="button" @onclick="@(() => DeleteProduct(product.ProductId))" class="btn btn-light">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        <br/>
        <button type="button" @onclick="OnClickAddProduct" class="btn btn-primary">Добавить</button>
}

@code {
    private List<Product> products;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        products = ViewProductsUseCase.Execute()?.ToList();
    }

    protected void OnClickAddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }

    protected void EditProduct(Product product)
    {
        NavigationManager.NavigateTo($"/editproduct/{product.ProductId}");
    }

    protected void DeleteProduct(int ProductId)
    {
        DeleteProductUseCase?.Delete(ProductId);
        LoadProducts();
    }

    private void LoadProducts()
    {
        products = ViewProductsUseCase.Execute()?.ToList();
    }
}
