@page "/edititemorder/{itemId}"
@using UseCases

@inject NavigationManager NavigationManager
@inject IEditItemOrderUseCase EditItemOrderUseCase
@inject IGetItemOrderByIdUseCase GetItemOrderByIdUseCase 

@inject IViewProductsUseCase ViewProductsUseCase
@inject IViewOrderCustomersUseCase ViewOrderCustomersUseCase
@inject IViewOrderVendorsUseCase ViewOrderVendorsUseCase

<h3>Редактировать товары в заказе</h3>
<h3>Редактировать товары в заказе</h3>

@if(itemOrder != null)
{
    <EditForm Model="itemOrder"  OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="description">Description</label>
            <InputTextArea id="description" @bind-Value="itemOrder.Description" class="form-control"></InputTextArea>
        </div>

        <div class="form-group">
            <label for="product">Product </label>
            <select id="product" @bind="itemOrder.ProductId" class="form-control">
                <option selected></option>
                @foreach(var product in products)
                {
                    <option value="@product.ProductId">@product.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="ordercustomer">OrderCustomer </label>
            <select id="ordercustomer" @bind="itemOrder.OrderCustomerId" class="form-control">
                <option selected></option>
                @foreach(var orderCustomer in orderCustomers)
                {
                    <option value="@orderCustomer.OrderCustomerId">@orderCustomer.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="ordervendor">OrderVendor </label>
            <select id="ordervendor" @bind="itemOrder.OrderVendorId" class="form-control">
                <option selected></option>
                @foreach(var orderVendor in orderVendors)
                {
                    <option value="@orderVendor.OrderVendorId">@orderVendor.Name</option>
                }
            </select>
        </div>



        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCansel">Cansel</button>
    </EditForm>
}

@code {
    [Parameter]
    public string ItemOrderId { get; set; }

    private ItemOrder itemOrder;

    private IEnumerable<Product> products;
    private IEnumerable<OrderCustomer> orderCustomers;
    private IEnumerable<OrderVendor> orderVendors;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        itemOrder = new ItemOrder();

        products = ViewProductsUseCase.Execute();
        orderCustomers = ViewOrderCustomersUseCase.Execute();
        orderVendors = ViewOrderVendorsUseCase.Execute();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (int.TryParse(this.ItemOrderId, out int iItemOrderId)) 
        {
            this.itemOrder = GetItemOrderByIdUseCase.Execute(iItemOrderId);
        }

    }

    private void OnValidSubmit()
    {
        EditItemOrderUseCase.Execute(itemOrder);
        NavigationManager.NavigateTo("/itemorders");
    }

    private void OnCansel()
    {
        NavigationManager.NavigateTo("/itemorders");
    }
}
